*{
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}
.container{
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
    display: none;
}
.container h1{
    line-height: 1;
}
.container .date-and-time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container .date-and-time span{
    padding: 0px 30px;
    display: block;
    width: 200px;
}
.enter-task {
    line-height: 2;
}
.form-group {
    width: 100%;

}
.form-group .form-input {
    width: 100%;
    padding: 10px;
}
.form-group #submit-btn{
    width: 80%;
    padding: 10px;
    margin: 20px 0px;
    background-color: lightblue;
    border: none;
}
.form-group #submit-btn:hover{
    color: #fff;
    background-color: rgb(56, 114, 134);
}
.list-group {
    /* background-color: beige; */
    width: 100%;
    padding: 10px;
    list-style: none;
    display: none;
}
.list-group .list-group-items,.introContainer .title-list-group .title-list-group-items{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #ccc;
}
.list-group .list-group-items:nth-child(1){
    display: none;
}
.list-group .list-group-items:nth-child(odd),.introContainer .title-list-group .title-list-group-items:nth-child(odd){
    background-color: rgba(231, 231, 231, 0.418);
}
.list-group-items span a{
    display: block;
}
.deleClearList{
    color: #ff0000;
    transition: all 0.5s ease 0s;
}
.deleClearList:hover {
    transform: scale(1.2);
}
.clear-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    display: none;
}
.clear-btn:hover{
    background-color: red;

}


@media (max-width:800px){
    .container{
        transform: scale(0.8);
    }
}
@media (max-width:600px){
    .container{
        transform: scale(0.7);
    }
    .container .date-and-time{
        flex-direction: column;
    }
    .container .date-and-time span{
        margin: 10px 0px;
    }
}
.introContainer {
    width: 300px;
    background-color: greenyellow;
    text-align: center;
    padding: 20px;
}
#title{
    width: 100%;
    padding: 10px;
    text-align: center;
}
#mytitle{
    width: 100%;
}
#confirm {
    width: 100%;
    background-color: green;
    border: none;
    margin: 20px 0px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.introContainer .title-list-group {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}
.deleList {
    display: none;
}

.showalltitels {
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
.showalltitels:hover{
    background-color: steelblue;
}